body{
    background-image: url(fondo\ gris\ difuminado.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    
}

header{
    background-color:gray;
}

div.prueba{
    padding-top: 10px;
}

div.uk-margin {
    display: grid;
    grid-template-columns: 30% 60%;
    margin: 0 auto;
    margin-top: 30px;
}


img.logo{
    width: 50%;
    border-radius: 50px;
    margin-left: 0%;
    display: block;
    border: 2px solid black;
    
}

form.buscador {
    margin-left: 0;
    margin-top: 90%;
    margin-bottom: 0%;
   background-color: white;
   width: 85%
   
   


}

ul.navegacion{

    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
    padding-left: 0%;
    margin-top: 8px;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

ul.navegacion li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    font-family: 'quicksand';
}


li a{
    color: black;
    
}


h1.h1{
    text-align: center;
 background-color: gray;
    padding: 5px;
    border: 2px solid black;
    width: 80%;
    color:  black;
    margin-bottom: 20px;
    font-family: "quicksand";
    
}
 

main {margin-top: 40px;
    margin-left: 20px;

}

a.uk-accordion-title {
    color: black;
    font-family: "quicksand";
    margin-left: 10px;
}

div {
      justify-content: space-around;
      margin: 0 auto;
}

div.topplaylist{
    display: grid;
    grid-template-columns: 40% 40%
    
    
}

ul li.album{
    text-emphasis: none;
    text-decoration: none;
    
    padding-left: 0px;
    text-align: center;
}
 
article.album {
     color: black
}

ul.album {
    padding-left: 0px  ;
    margin: 0 auto;
    list-style-type: disc;
    
}



img.imgalbum {
    border: 3px solid black;
}
 
li.download {
    text-decoration: underline blue;
    color: blue;
}
button.boton { 
    text-decoration: underline blue;
    color: blue;
    font-size: 13px;
    background-color: rgba(180, 188, 189, 0.1);
    border: 1px blue;
}


footer{
    padding: 0px;
}
footer section{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin-top: 60px;
    background-color: gray;
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}

ul.footer{
  padding: 5px;
  margin-top: 15px;
  margin-left: 30px;
}

ul.footer li{
list-style-type: none;
padding: 5px;
padding-left: 0px;
color: black;
font-family: "quicksand";
font-size: 18px;

}

div.foot2 img.deezerlogo{
    width: 100px;
    margin: 1rem;
}


@media(min-width: 768px) {

h1 { 
    margin: 0 auto;
}

main{
    margin-left: 28px;
}


a.uk-accordion-title {
    font-size: 40px;
    font-family: "quicksand";
    margin-left: 15px;
}

ul li { font-size: 30px }

button.boton {
    font-size: 30px;
}


ul.footer li {
  font-size: 25px;
}
 


 @media(min-width:1200px){
 

      header{
    display: grid;
    grid-template-columns: 30% 60% 60% 60%;
    justify-content: space-between;}
    
    div.uk-margin {
        display: block;
        margin-left: 20%;
        margin-right: 15%;
        margin-top: 10%;
    }

    div.prueba {
        margin: 0 auto;
    }

    form.buscador{
        display: block;
        margin-top: 0%;
        margin-bottom: 20px;
    }
main {
    margin-left: 65px;
}

img.logo {
    margin-left: 10px;
     width: 90%;
    margin-right: 0px
    }


   
    ul.navegacion{
    margin-top: 50px;
    width: 800px;}

    div.pruebados {
            margin-top: 15%;
    }

}




