

body{
    background-image: url(fondo\ gris\ difuminado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color:gray;
}

div.prueba{
    padding-top: 10px;
}
img.logo{
    width: 12%;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
}

ul.navegacion{

    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-between;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 3px;
    margin-left: 2%;
}

ul.navegacion li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    font-family: 'quicksand';
}


ul li a{
    color: black;
    text-decoration: none;
}

input.uk-search-input{
width: 96%;
margin-left: 2%;
padding-bottom: 1%;
margin-bottom: 1%;
}

div.uk-position-relativeuk-visible-toggleuk-light{
display: none;
}
a.flechitaDerecha{
position: absolute;
left: 0px;
top: 350px;
}

a.flechitaIzquierda{
    position: absolute;
    right: 0px;
    top: 350px;
}

main div.fotoBB{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin: 0 auto;
}
 img.artista{
     width: 100%;
     margin-top: 30px;
     border-radius: 300px;
     margin-left: 20px;
 }

 div.fila1{
     display: grid;
     grid-auto-rows: 45% 45%;
     justify-content: space-between;
     margin: 0 auto;
 }

 p.artistas{
    width: 100%;
    height: 30%;
    border-radius: 200px;
    color : black;
    padding: auto;
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'pt serif';
    text-align: center;
}
    
ol.artistas{
   
    padding: 0;
    font-family: 'roboto';
    color: black;
    margin-top: -15px;
    margin-left: auto;
    font-size: 14px;
}

div.fotoBB2{
    display: none;
}



main div.albumes{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin-top: 20px;
}
img.album{
    width: 100%;
    margin-top: 30px;
    border-radius: 300px;
    margin-left: 20px;
}
div.fila2{
    display: grid;
    grid-auto-rows: 45% 45%;
    justify-content: space-between;
    margin: 0 auto;
}
p.albumess{
    width: 100%;
    height: 30%;
    border-radius: 200px;
    color : black;
    padding: auto;
    margin-top: 55px;
    margin-left: 10px;
    font-family: 'pt serif';
    text-align: center;
}
ol.album{
    margin: 0 auto;
    padding: 0px;
    font-family: 'roboto';
    color: black;
    margin-top: -8px;
    margin-left: 30px;
    font-size: 14px;
}
div.albumes2{
    display: none;
}

main div.otro{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin-top: 20px;
}

img.otro{
    width: 100%;
    margin-top: 30px;
    border-radius: 300px;
    margin-left: 20px;
}
div.fila3{
    display: grid;
    grid-auto-rows: 45% 45%;
    justify-content: space-between;
    margin: 0 auto;
}
p.otros{
    width: 96%;
    height: 30%;
    border-radius: 200px;
    background-color: none;
    color : black;
    padding: auto;
    margin-top: 55px;
    margin-left: 10px;
    font-family: 'pt serif';
    text-align: center;
}
ol.listadeotros{
    margin: 0 auto;
    padding: 0px;
    font-family: 'roboto';
    color: black;
    margin-top: -10px;
    margin-left: 30px;
    font-size: 14px;
    
}
div.otro2{
    display: none;
}

footer{
    padding: 20px;
}
footer section{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin-top: 60px;
    background-color: gray;
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}

ul.footer{
  padding: 5px;
  margin-top: 15px;
  margin-left: 30px;
}

ul.footer li{
list-style-type: none;
padding: 5px;
padding-left: 0px;
color: black;
}

div.foot2 img.deezerlogo{
    width: 140px;
    padding: 5px;
    padding-top: 25px;
}



@media(min-width:564px){

article.ipad{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-around;
}
img.logo{
    width: 45%;
    margin-top: 9%;
}
ul.navegacion li{
    margin-top: 85%;
}
input.uk-search-input{
    width: 209%;
    margin-left: 108%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    }
div.uk-position-relativeuk-visible-toggleuk-light{
    display: block;
    margin-top: 80px;
    margin-bottom: 45px;
}
img.artista{
    border-radius: 200px;
    margin-left: 10%;
}
p.artistas{
    margin-top: 100px;
}
ol.artistas{
  padding-left: 10px;
}
img.album{
    border-radius: 200px;
    margin-left: 10%;
}
p.albumess{
    margin-top: 110px;
}
ol.album{
    padding-left: 10px;
}
img.otro{
    border-radius: 200px;
    margin-left: 10%;
}
p.otros{
    margin-top: 110px;
}
ol.listadeotros{
    padding-left: 7px;
 }
 footer section{
     margin-top:35px ;
 }
 div.foot2 img.deezerlogo{
    position: absolute;
    right: 80px;
}

}


@media(min-width:768px){

article.ipad{
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-around;
}
div.uk-position-relativeuk-visible-toggleuk-light{
    display: block;
    margin-top: 80px;
}
div.prueba{
    padding-left: 90px;
}
img.logo{
    width: 70px;
    margin-top: 35px;
    margin-right: 169px;
}
ul.navegacion{
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 30%;
}
ul.navegacion li{
    margin-top: 25%;
    margin-bottom: 15%;
}
input.uk-search-input{
    width: 300%;
    margin-left: 170%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    }
div.uk-position-relativeuk-visible-toggleuk-light{
    display: block;
}
a.flechitaDerecha{
    top: 400px;
}
 a.flechitaIzquierda{
    top: 400px;
}
main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    margin-top: 55px;
    align-items: center;
}

main div.fotoBB{
    display: none;
}
main div.fotoBB2{
    display: block;
}

main div.albumes{
    display: none;
}
main div.albumes2{
    display: block;
}

main div.otro{
    display: none;
}
main div.otro2{
    display: block;
}
img.artista{
    margin-left: 0px;
    margin-top: 15%;
    border-radius: 50%;
}
p.artistas{
    margin-left: 0px;
    margin-top: 15px;
    height: 25px;
}
ol.artistas{
 margin-left: 60px;
 margin-bottom: 30px;
}
img.album{
    margin-left: 0px;
    margin-top: 15%;
    border-radius: 50%;
}
p.albumess{
    margin-left: 0px;
    margin-top: 15px;
    height: 25px;
}
ol.album{
    margin-left: 60px;
    margin-bottom: 30px;
}
img.otro{
    margin-left: 0px;
    margin-top: 15%;
    border-radius: 50%;
}
p.otros{
    margin-left: 0px;
    margin-top: 15px;
    height: 25px;
}
ol.listadeotros{
    margin-left: 60px;
    margin-bottom: 30px;
}




}