body{
    background-image: url(../img/fondo\ gris\ difuminado.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    
}

header{
    background-color:gray; 
}

div.prueba{
    padding-top: 10px;
}

img.logo{
    width: 12%;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    
}

.BUSCADOR{
    width: 30%;
    margin-left: 10%;
    padding-bottom: 1%;
    margin-bottom: 1%;

}
ul.navegacion{

    display: grid;
    grid-template-columns: 20% 20% 20% ;
    justify-content: space-between;
    padding-left: 0%;
    padding-top: 18px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 3px;
    margin-left: 2px;
}

ul.navegacion li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    font-family: 'quicksand';
    font-size: 100%;
}


ul li a{
    color: black;
    text-decoration: none;
}
.BUSCADOR{
    width: 70%;
    margin-left: 10%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    }

p.h1{
    text-align: center;
    background-color: gray;
    width: 75%;
    margin-bottom: 10%;
    margin-top: 8%;
    font-family: "quicksand";
    margin-left: 12%;
    color: black;
    font-size: 25px;
}
 

main {margin-top: 40px;
    margin-left: 20px;

}


div {
      justify-content: space-around;
      margin: 0px;
}

div.topplaylist{
    display: grid;
    grid-template-columns: 40% 40%
    
    
}

ul li.album{
    text-emphasis: none;
    text-decoration: none;
    
    padding-left: 0px;
    text-align: center;
}
 
nav.album {
     color: black
}

ul.album {
    padding-left: 0px  ;
    margin: 0 auto;
    list-style-type: disc;
    padding-top: 0%;
}



img.canciones {
    border-radius: 150%;
    
}
 
button.boton { 
    text-decoration: underline blue;
    color: blue;
    font-size: 13px;
    background-color: rgba(180, 188, 189, 0.1);
    border: 1px blue;
}


footer{
    padding: 20px;
}
footer nav{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin-top: 60px;
    background-color: gray;
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}

ul.footer{
    padding: 5px;
    margin-top: 15px;
    margin-left: 30px;
}

ul.footer li{
    list-style-type: none;
    padding: 5px;
    padding-left: 0px;
    color: black;
}

div.RedesSociales ul{
    display: grid;
    grid-template-columns: 2% 2% 2% 2%;
    column-gap:5% ;
    }
    
ul.Redes li {
    list-style-type: none;
    gap: 2%;
}
    
div.foot2 img.deezerlogo{
    width: 140px;
    padding: 5px;
    padding-top: 25px;
}

img.imagen {
    margin-left: 30%;
    border-radius: 60px;
}
ul.info {
    color: black;
    margin-left: 15%;
    margin-top: 10%;
    text-decoration: none;
    font-weight: bold;
}
p.info {
    border-bottom: black 1px solid;

}

@media(min-width: 768px) {

p.h1 { 
    margin: 0 auto;
    margin-top: 5%;
    font-size: 30px;
}
nav.ipad {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-around;
}
img.logo {
    width: 45%;
    margin-top: 9%;
    border-radius: 50%;
}
main{
    margin-left: 28px;
}
ul.navegacion{
    margin-top: 20%;
    
}
ul.navegacion li{
    margin-top: 85%;
    }

.BUSCADOR{
    width: 48%;
    margin: 3%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    margin-left: 34%;
    }
.Boton{
    width: 10%;
}  

img.imgalbum{
    width: 70%;
    margin-left: 25%;
}
ul.album{
    padding-top: 10%;
}
footer nav{
    margin-top:35px ;
    }
div.foot2 img.deezerlogo{
    position: absolute;
    right: 80px;
    padding: 5%;
    padding-top: 3%;
   }

img.imagen {
    margin-left: 35%;
    border-radius: 60%;
    width: 30%;
}
ul.info {
    color: black;
    margin-left: 30%;
    margin-top: 5%;
    list-style-type: none;
}
p.info {
    border-bottom: black 1px solid;

}
 @media(min-width:1024px){
 
nav.ipad{
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-around;
    }
 div.prueba{
    padding-left: 90px;
 }
 img.logo{
    width: 70px;
    margin-top: 35px;
    margin-right: 169px;
}
ul.navegacion{
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 30%;
}
 ul.navegacion li{
    margin-top: 25%;
    margin-bottom: 15%;
 }
.BUSCADOR{
    padding-bottom: 1%;
    margin-bottom: 3%;
    width: 34%;
    margin-left: 48%;
    margin-bottom: 1%;
    margin-top: 1%;
    }
.Boton{
    width: 10%;
}

main {
    margin-left: 65px;
}
p.h1{
    font-size: 40px;
    padding-right: 0%
    
}
div.foot2 img.deezerlogo {
    width: 30%;
    padding: 5px;
    margin-left: 70%;
    position: relative;
    }
 }

img.imgalbum{
    width: 70%;
    margin-left: 25%;
}
ul.album{
    padding-top: 15%;
}


}




